In [1]:
### Library
from google.colab import drive
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import nltk #nlp realated library
nltk.download('punkt')
from sklearn.feature_extraction.text import CountVectorizer # cbow
from sklearn.feature_extraction.text import TfidfVectorizer #tfidf
from sklearn.preprocessing import LabelBinarizer # label encoding
from nltk.corpus import stopwords #stopwords
from nltk.stem.porter import PorterStemmer #stemming
from wordcloud import WordCloud, STOPWORDS #to show word cloud
from nltk.stem import WordNetLemmatizer # lemmatizig
from nltk.tokenize import word_tokenize, sent_tokenize #tokenization
from bs4 import BeautifulSoup # removing html tags and scraping
import spacy
import re,string,unicodedata
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob
from textblob import Word
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
nltk.download('stopwords')
stopword_list=nltk.corpus.stopwords.words('english')
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
drive.mount('/content/drive')
# ls

Mounted at /content/drive

In [3]:
cd ..

/

In [4]:
%cd //content/drive/MyDrive/datasets

/content/drive/MyDrive/datasets

In [5]:
imb_data = pd.read_csv('IMDB Dataset.csv')

In [6]:
imb_data_1 = imb_data.copy()

In [7]:
imb_data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [8]:
imb_data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [9]:
imb_data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  negative
freq                                                    5     25000

In [10]:
# Sentiment count
imb_data['sentiment'].value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

In [12]:
imb_data['review'][2]

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.<br /><br />This was the most I\'d laughed at one of Woody\'s comedies in years (dare I say a decade?). While I\'ve never been impressed with Scarlet Johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.<br /><br />This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

In [13]:
imb_data['review'] = imb_data['review'].apply(denoise_text) # Removing the html strips, Removing the square brackets

In [15]:
imb_data['review'] = imb_data['review'].apply(remove_special_characters) # Define function for removing Speacial Characters

In [16]:

imb_data['review'] = imb_data['review'].apply(simple_stemmer) # steming the text

In [17]:
# set stopwords

{'hasn', 'can', 'above', "don't", 'this', 'does', "that'll", 'against', 's', 'once', 'too', 'some', 'yourself', 'doing', 'themselves', 'am', "shouldn't", 'be', 'itself', 'because', 'hers', "you've", 'until', 'not', "it's", 'weren', 'ours', 'you', 't', 'yours', 'own', 'and', 'no', 'won', 'yourselves', 'needn', "won't", "you'd", "couldn't", 'aren', 'my', "you'll", 'have', 'very', 'through', 'to', 'further', 'is', 'nor', 'than', 've', 'who', 'it', 'then', 'whom', 'each', 'shan', 'me', 'been', 'any', "weren't", 'with', 'when', 'where', 'didn', 'did', 'hadn', 'again', 'has', "aren't", 'so', 'were', 'off', 'them', 'for', 'such', 'mustn', 'but', "shan't", 'theirs', 'his', "didn't", 'm', 'during', 'do', 'just', "you're", 'we', 'if', "haven't", 'they', 'doesn', 're', "isn't", 'your', 'd', "needn't", "mightn't", 'under', 'she', "doesn't", 'him', 'the', 'both', "mustn't", 'shouldn', 'was', 'here', 'now', 'i', 'how', "she's", 'which', 'same', 'ma', 'wasn', 'its', 'up', 'below', 'over', 'these', 'all', 'are', 'more', 'isn', 'from', "should've", 'what', 'our', 'or', 'wouldn', 'while', "hadn't", 'll', 'her', 'down', 'few', 'ain', 'couldn', 'haven', 'should', 'o', 'out', 'had', 'don', 'in', 'into', 'their', 'ourselves', 'himself', 'he', 'at', 'myself', 'those', 'having', 'about', 'between', 'only', "wouldn't", 'most', 'there', 'why', 'herself', 'that', 'y', 'as', 'being', 'on', 'a', 'before', 'other', 'of', 'mightn', 'by', "wasn't", 'after', 'will', 'an', "hasn't"}

In [18]:
 imb_data['review'] = imb_data['review'].apply(remove_stopwords) #removing the stopwords

In [19]:
imb_data['review'][2]

'thought thi wa wonder way spend time hot summer weekend sit air condit theater watch lightheart comedi plot simplist dialogu witti charact likabl even well bread suspect serial killer may disappoint realiz thi match point 2 risk addict thought wa proof woodi allen still fulli control style mani us grown lovethi wa Id laugh one woodi comedi year dare say decad ive never impress scarlet johanson thi manag tone sexi imag jump right averag spirit young womanthi may crown jewel hi career wa wittier devil wear prada interest superman great comedi go see friend'

## Train Test Split

In [20]:
X = imb_data.review

In [21]:
y=imb_data.sentiment

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [23]:
print('Training Data',X_train.shape,y_train.shape)
print('Test Data',X_test.shape,y_test.shape)

Training Data (40000,) (40000,)
Test Data (10000,) (10000,)

Term Frequency-Inverse Document Frquency model (TFIDF)

In [24]:
tv =TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))

In [25]:
tv_train_reviews = tv.fit_transform(X_train)

In [26]:
tv_test_reviews = tv.transform(X_test)

In [27]:
print('Tfidf_train:',tv_train_reviews.shape)
print('Tfidf_test:',tv_test_reviews.shape)

Tfidf_train: (40000, 6200920)
Tfidf_test: (10000, 6200920)

#Model Development

##LogisticRegression

In [29]:
lr = LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)

In [30]:
lr = LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)
lr_tfidf = lr.fit(tv_train_reviews,y_train)
lr_tfidf_predict=lr.predict(tv_test_reviews)

# Hyperparameter Tuning

In [31]:
param_grid_logistic ={'penalty' : ['l1', 'l2', 'elasticnet', 'none'],
             'C' : [1,0.5,0.25,0.1,0.05],
             'max_iter':[100,500,700,1000]
             }
gd_model_Logistic_regression =GridSearchCV(lr,param_grid=param_grid_logistic,cv=5)
gd_model_Logistic_regression.fit(tv_train_reviews,y_train)

GridSearchCV(cv=5,
             estimator=LogisticRegression(C=1, max_iter=500, random_state=42),
             param_grid={'C': [1, 0.5, 0.25, 0.1, 0.05],
                         'max_iter': [100, 500, 700, 1000],
                         'penalty': ['l1', 'l2', 'elasticnet', 'none']})

In [33]:
gd_model_Logistic_regression.best_params_

{'C': 1, 'max_iter': 100, 'penalty': 'l2'}

## Final model

In [35]:
lr_final_model = LogisticRegression(C=1, max_iter=100, penalty= 'l2',random_state=42)

In [36]:
lr_tfidf_final = lr_final_model.fit(tv_train_reviews,y_train)
lr_tfidf_predict_final=lr_final_model.predict(tv_test_reviews)

# Evaluatiation

In [39]:
lr_cv_score_final = accuracy_score(y_test,lr_tfidf_predict_final)
print("Final model accuracy Lr__score : ",100*(lr_cv_score))

Final model accuracy Lr__score :  74.3

#Classification report for tfidf features

In [41]:

lr_tfidf_report=classification_report(y_test,lr_tfidf_predict_final,target_names=['Positive','Negative'])
print(lr_tfidf_report)

              precision    recall  f1-score   support

    Positive       0.72      0.79      0.75      4961
    Negative       0.77      0.70      0.73      5039

    accuracy                           0.74     10000
   macro avg       0.74      0.74      0.74     10000
weighted avg       0.75      0.74      0.74     10000